body {
  background: #f9fafd;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

p {
  margin-bottom: 0;
}

.header-container {
  text-align: center;
  padding: 10px;
}

.layout-container {
  height: 95vh;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffbe0b;
  transition: 0.4s;
}

.slider:before {
  font-family: FontAwesome;
  position: absolute;
  content: "\f185";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:checked + .slider:before {
  content: "\f186";
}

input:checked + .slider {
  background-color: #000000;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#loadMoreBtn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #6366f1;
  background-color: #6366f1;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s ease-in-out,
    transform 0.2s;
  margin-top: 10px;
}

#loadMoreBtn:hover {
  background-color: #4346af;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(99, 102, 241, 0.5);
  transform: translateY(-3px);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.card {
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-basis: 20%;
  height: 575px;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.229);
}

p {
  text-align: justify;
}

.type-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
}

.type-container a {
  margin-top: 14px;
}

.user-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.inner-container {
  display: flex;
  align-items: center;
}

.user-element,
.likes {
  font-size: 12px;
  margin-left: 10px;
  color: #999999;
  margin-top: 10px;
}

.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 10px;
}

.image {
  width: 300px;
  height: 300px;
  border-radius: 4px;
  cursor: pointer;
  object-fit: cover;
}

.image-container {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.image-modal {
  margin: auto;
  display: block;
  width: 50%;
  max-width: 400px;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.alternative-margin {
  height: 20px;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media only screen and (max-width: 768px) {
  p {
    font-size: 14px;
  }

  .type-container {
    font-size: 12px;
  }

  .user-element,
  .likes {
    font-size: 12px;
  }

  .card {
    height: 541px;
  }

  .user-container {
    margin-top: 10px;
  }

  .image-container {
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: 426px) {
  p {
    font-size: 13px;
  }

  .user-element,
  .likes {
    font-size: 11px;
  }

  .card {
    height: 527px;
  }
}

@media only screen and (max-width: 320px) {
  p {
    font-size: 12px;
  }

  .image {
    width: 250px;
    height: 270px;
  }

  .card {
    height: 484px;
  }

  .type-container {
    font-size: 11px;
  }

  .user-element,
  .likes {
    font-size: 10px;
  }

  .user-container {
    margin-top: 5px;
  }
}
